In [1]:
# !pip install mysqlclient
# !pip install pymysql


import warnings

warnings.filterwarnings('ignore')

from sqlalchemy import  create_engine

import pandas as pd
#change the name of the titanic ie the name of the schema which we created in my sql
engine = create_engine("mysql+pymysql://root:Sruji1106@127.0.0.1:3306/titanic")

# {root}:{password}@host:port/{database name}

# Establish a connection

conn = engine.connect()

# Read data from CSV into a Pandas DataFrame

data = pd.read_csv("/Users/srujithadevineni/Data_science/titanic.csv")

# Write DataFrame to a SQL table 
#here the titanic is the name of the table we are creating now 

data.to_sql('Titanic', engine, index=False, if_exists='replace')

# Close Connection
conn.close()